<div class="row">
  <div class="col"><img src="{{ogrenci.ogrenciFoto}}"></div>
  <div class="col">
    <div class="row"><h4>{{ogrenci.ogrenciTC}}</h4></div>
    <div class="row"><h4>{{ogrenci.ogrenciAd}}</h4></div>
    <div class="row"><h4>{{ogrenci.ogrenciSoyad}}</h4></div>
  </div>  
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Yaş:</th>
        <td>{{ogrenci.ogrenciYas}}</td>
        <th scope="row">Doğum Tarihi:</th>
        <td>{{ogrenci.ogrenciDogumTarihi}}</td>
      </tr>
      <tr>
        <th scope="row">Branş:</th>
        <td>{{ogrenci.ogrenciBrans}}</td>
        <th scope="row">Grup:</th>
        <td>{{ogrenci.ogrenciGrup}}</td>
      </tr>
      <tr>
        <th scope="row">Veli:</th>
        <td>{{ogrenci.veliAd}}</td>
        <th scope="row">Veli Telefonu</th>
        <td>{{ogrenci.veliTelefon}}</td>
      </tr>
      <tr>
        <th scope="row">Veli:</th>
        <td>{{ogrenci.veli2Ad}}</td>
        <th scope="row">Veli Telefonu</th>
        <td>{{ogrenci.veli2Telefon}}</td>
      </tr> 
      <tr>
        <th scope="row">Kayıt Tarihi</th>
        <td>{{ogrenci.kayitTarihi}}</td>
      </tr>
      <tr>
        <th scope="row">Ödeme</th>
        <td>{{ogrenci.ogemeMiktari}}</td>
        <th scope="row">İlk Ödeme Tarihi</th>
        <td>{{ogrenci.ilkOdemeTarihi}}</td>
      </tr>     
    </tbody>
  </table>

</div>
