  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0d6efd;">
    
    {% if not session["logged_in"] == True %}
          <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Bir aylık ücretsiz deneme için hemen </span>
          
            <a href="/register"><button type="button" class="btn btn-outline-light">Kayıt Olun</button></a>
          
        </p>
        <p>Kayıt sonrası bilgilendirme ve aktivasyon için sizi arayacağız...</p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

        <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright: Tüm Hakları Saklıdır..
      <a class="text-white" href="/"> GymnasiumSW </a>
    </div>
    <!-- Copyright -->
  </footer>
    {% else %}
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright: Tüm Hakları Saklıdır..
      <a class="text-white" href="/"> GymnasiumSW </a>
    </div>
    <!-- Copyright -->
  </footer>
    {% endif %}



  <!-- Footer -->