{% extends "index.html" %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}

<div class="container">
      <div class="row">
            <div class="col">
            </div>
            <div class="col">
                  <hr>
                  <form method="post" class="form-signin">
                        <img class="mb-4" src="" alt="" width="72" height="72">
                        {{render_field(form.userName, class="form-control")}}
                        {{render_field(form.password, class="form-control")}}
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Giriş Yap</button>
                  </form>
                  <hr>
            </div>
            <div class="col">
            </div>
      </div>

</div>



{% endblock body %}


